/* SECTION elements */

header{
  background: rgb(82,155,202);
  background: linear-gradient(0deg, rgba(82,155,202,1) 0%, rgba(149,205,232,1) 100%); 
}

/* SECTION classes */

.xsmol{
  font-size: x-small;
  justify-content: center;
}

.smol{
  font-size: small;
}

.glass-card{
  background-color: rgba(0, 0, 0, 0.137);
  border-radius: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleText {
  max-width: 100%;
  text-align: justify;
}

.title{
  font-size: 2.2em;
  margin-right: 15px;
}

.direction{
  flex-direction: column;
}

.iPhone{
  width: 150px;
  /* height: 100%; */
}